<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>
      FomTurist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- posts -->
  <app-posts [posts]="posts" > </app-posts>

  <!-- infinite scroll -->
  <ion-infinite-scroll [disabled]="!habilitado"
                       threshold="150px"
                       (ionInfinite)="siguientes($event)">
    <!-- loadingSpinner="bubbles" loadingText="Loading more data..." -->
    <ion-infinite-scroll-content >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
